main{
	font-family: "Times New Roman";
	font-style: italic;
}

header{
	text-align: center;
}

h2{
	text-align: center;

}

p {
	font-family: "Trebuchet MS";
	text-indent: 2rem;
	letter-spacing: 0.1rem;
}

h4{
	font-family: "Arial Narrow";
	font-weight: 800;
}
nav{
	text-align: center;
}

a:active {
	color: rgb(255, 0, 200);
	cursor: pointer;
	text-decoration: underline;
}
a:visited {
	color: red;
}
a:hover {
	color: blue;
}